<div class="row">
  <div class="col-sm-4 col-12">
    <p class="text-h6 mb-0 mb-sm-4">コース結果登録</p>
  </div>
</div>
<div class="row mt-5">
    <div class="col-md-9">
      <%= form_with model: @course_result, url: course_result_path(@course_result), local: true do |f| %>
      <div class="col-8"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
      <table class="sticky_table hidden-sm-and-down">
        <thead>
          <tr>
            <th>日付</th>
            <th>曜日</th>
            <th><%= @course_result.entry.course.name %></th>
            <th>メモ欄</th>
          </tr>
        </thead>
        <tbody>
          <% @calender.each do |c| %>
            <tr>

              <td><%= "#{c.year}/#{c.month}/#{c.day}" %></td>
              <td>(<%= @weeks[c.wday] %>)</td>

                  <td>
                    <%= f.radio_button :history, true %>
                    <%= f.label :history, "◯", value: true %>
                    <%= f.radio_button :history, false %>
                    <%= f.label :history, "×", value: false %>
                  </td>
            </tr>
           <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>