<h3 class="title">
  <i class="fas fa-angle-double-left"></i><%= @course_result.entry.course.name %><i class="fas fa-angle-double-right"></i>コース結果登録
</h3>

<div class="row">
  
  <div class="col-6 col-md-4">
    <%= form_with(model:[@course_result, @history], local: true) do |f| %>
      <div class="form_group pt-4 pb-3">
        <% if @course_result.entry.course.way == "sign" %>
          <%= f.radio_button :result, true, checked: true %>
          <%= f.label :result, "実施できた", value: true %>
        <% else %>
          <%= f.number_field :result, step: "0.1", class: "form-control", placeholder: "小数点第1位まで可" %>kg
        <% end %>
      </div>
      <div class ="form-group">
        <%= f.date_select :start_time %>
      </div>
      <div class="form-group" >
        <%= f.text_area :memo, class: "form-control", placeholder: "メモ(空欄可)" %>
      </div>
      <div class="mb-3">
        <%= f.submit "結果登録", class: "btn btn-outline-primary" %>
      </div>
    <% end %>
    <h4>
      <div class="alert alert-warning" role="alert">
        <%= @course_result.entry.course.target_date %>日中、<strong><%= @course_result.histories.count %>日</strong>クリア
      </div>
　  </h4>
  </div>
  
  <div class="calendar ol-sm-6 col-md-8">
		<%= render "calendar", course_result: @course_result %>
	</div>
	
</div>

<% if @histories.present? %>
  <%= render "history" %>
<% end %>

<% if @course_result.entry.course.way == "number" %>
<canvas id="myLineChart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).on('turbolinks:load', function () {
      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
          datasets: [
            {
              label: '数値の推移',
              data: [<%= @course_result.histories.created_6day_ago %>,
                     <%= @course_result.histories.created_5day_ago %>,
                     <%= @course_result.histories.created_4day_ago %>,
                     <%= @course_result.histories.created_3day_ago %>,
                     <%= @course_result.histories.created_2day_ago %>,
                     <%= @course_result.histories.created_yesterday %>,
                     <%= @course_result.histories.created_today %>],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)"
            }
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: '7日間の数値の比較'
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                suggestedMax: 10,
                suggestedMin: 0,
                stepSize: 1,
                callback: function(value, index, values){
                  return  value
                }
              }
            }]
          },
        }
      });
    });
  </script>
<% end %>