<div class="container-fluid">
	<h2 class="section-top">コース結果登録</h2>
	<div class="col-md-3 col-sm-12 col-xs-12">
    <%= form_with(model:[@course_result, @history], local: true) do |f| %>
      <div class="title">
        <%= f.label :result %>
        <%= f.text_field :result %>
      </div>
    <div class="time">
    <%= f.label :start_time %>
    <%= f.date_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :memo %>
    <%= f.text_field :memo %>
  </div>


  <div class="submit">
    <%= f.submit %>
  </div>

   <% end %>
  </div>
 </div>
 <div class="col-md-9 col-sm-12 col-xs-12">
		<%= month_calendar events: @course_result.histories do |date, histories| %>
		  <%= date.day %>
		  <% histories.each do |history| %>
		    <div>
		      <%= history.result %>
		    </div>
		  <% end %>
		<% end %>