<h2>
  <i class="fas fa-angle-double-left"></i><%= @course_result.entry.course.name %><i class="fas fa-angle-double-right"></i>コース結果登録
</h2>
	<div class="row">
	  <div class="col-6 col-md-4">
    <%= form_with(model:[@course_result, @history], local: true) do |f| %>
      <div class="form_group pt-4 pb-3">
        <% if @course_result.entry.course.way == "sign" %>
        <%= f.radio_button :result, true, checked: true %>
          <%= f.label :result, "実施できた", value: true %>
        <% else %>
          <%= f.text_field :result, placeholder: "結果入力(数値)", class: "form-control" %>
        <% end %>
      </div>
      <div class ="form-group">
        <%= f.date_select :start_time %>
      </div>
      <div class="form-group" >
        <%= f.text_field :memo, class: "form-control", placeholder: "メモ(空欄可)" %>
      </div>
  <div class="mb-3">
    <%= f.submit "結果登録", class: "btn btn-outline-primary" %>
  </div>
   <% end %>
  <h4>
   <div class="alert alert-warning" role="alert">
     <%= @course_result.entry.course.target_date %>日中、<strong><%= @course_result.histories.count %>日</strong>クリア
　 </div>
　 </h4>
</div>


 <div class="col-sm-6 col-md-8">
		<%= month_calendar events: @course_result.histories do |date, histories| %>
		  <%= date.day %>
		  <% histories.each do |history| %>
		    <div>
		      <% if @course_result.entry.course.way == "sign" %>
		       <i class="far fa-check-circle"></i>
		      <% else %>
		       <%= history.result %>
		      <% end %>
		    </div>
		  <% end %>
		<% end %>
	</div>
</div>
<% if @histories.present? %>
<table class="history table table-hover table-bordered">
			<thead>
				<tr class="table-secondary">
					<th style="width:15%">結果登録日</th>
					<th style="width:15%">結果</th>
					<th style="width:60%">メモ</th>
					<th style="width:10%"></th>
				</tr>
		  </thead>
			<%  @histories.each do |history| %>
				<tbody>
					<tr>
						<td><%= history.start_time.strftime("%Y-%m-%d") %></td>
						<% if @course_result.entry.course.way == "sign" %>
		       <td>◯</td>
		      <% else %>
		       <td><%= history.result %></td>
		      <% end %>
						<td><%= history.memo %></td>
						<td><%= link_to "削除", course_result_history_path(history.course_result, history), method: :delete %></td>
					</tr>
				</tbody>
			<% end %>
  		</table>
  		<%= paginate @histories %>
  		<% end %>
<canvas id="myLineChart"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    $(document).on('turbolinks:load', function () {
      var ctx = document.getElementById("myLineChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ['6日前', '5日前', '4日前', '3日前', '2日前', '1日前', '今日'],
          datasets: [
            {
              label: '数値の推移',
              data: [12, 19, 3, 5, 2, 3],
              borderColor: "rgba(0,0,255,1)",
              backgroundColor: "rgba(0,0,0,0)"
            }
          ],
        },
        options: {
          plugins: {
            title: {
              display: true,
              text: '7日間の数値の比較'
            }
          },
          scales: {
            yAxes: [{
              ticks: {
                suggestedMax: 10,
                suggestedMin: 0,
                stepSize: 1,
                callback: function(value, index, values){
                  return  value
                }
              }
            }]
          },
        }
      });
 });
  </script>