<%= form_with model: @post_message do |f| %>
  <div class="form_group pt-4 pb-3">
    <%= f.text_field :nickname, placeholder: "ニックネーム(10文字以下)", class: "form-control" %>
  </div>

  <div class="form-group" >
    <%= f.text_area :message, placeholder: "メッセージ(140文字以下)", rows: 7, class: "form-control js-text" %>
    <P class="js-text-count pull-right"></P>
  </div>

  <div class="form-group" >
    <%= f.attachment_field :image %>
  </div>

  <div class="mb-3">
    <%= f.submit "新規投稿", class: "btn btn-outline-primary" %>
  </div>
<% end %>