
      <% post_messages.each do |post_message| %>
        <tr id="post_message_<%= post_message.id %>">
          <td><%= post_message.nickname %></td>
          <td><%= post_message.message %></td>
          <td><%= post_message.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td>
          <td class="favorite-btn"><%= render "public/favorites/favorite-btn", post_message: post_message %></td>
        </tr>
      <% end %>
