<div class="row">
　<div class="col-xs-12 mt-3">
  　<h4><i class="fas fa-tag"></i>カテゴリー編集</h4>
　</div>
</div>

<%= render 'layouts/error_messages', resource: @category %>

<div class="row">
  <div class="col-8 mt-3">
    <%= form_with model: @category, url: admin_category_path, local: true do |f| %>
      <div class="form-group row">
        <div class="col-3"><%= f.label :カテゴリー名 %></div>
        <div class="col-4"><%= f.text_field :name %></div>
        <div class="col-3"><%= f.submit "変更を保存", class: "btn btn-success" %></div>
      </div>
    <% end %>
  </div>
</div>
 