<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <%= form_with url: search_courses_path, local: true, method: :get do |f| %>
     <div class="row">
        <div class="col"><%= f.text_field :keyword, class: "form-control ", placeholder:"コース名" %> </div>
        <div class="col"><%= f.submit "検索", class: "btn btn-outline-light " %> </div>
      </div>
    <% end %>

      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
         <% if customer_signed_in? %>
          <li class="nav-item active">
           <span class="nav-link text-dark">ようこそ、<%= current_customer.last_name%>さん</span>
          </li>
          <li class="nav-item">
            <%= link_to icon('fas','fas fa-user',"マイページ"), customers_mypage_path, class: "btn btn-outline-light mx-3 my-1"%>
          </li>
          <li class="nav-item">
            <%= link_to icon('fas', 'fas fa-file-signature','掲示板'), post_messages_path, class: "btn btn-outline-light mx-3 my-1"%>
          </li>
          <div class="dropdown">
            <button class="btn btn-outline-light mx-3 my-1 dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-clipboard-list"></i> コース
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><button class="dropdown-item" type="button">
                <%= link_to "全コース一覧", courses_path %>
              </button></li>
              <li><button class="dropdown-item" type="button">
                <%= link_to "コース設定", new_entry_path %>
              </button></li>
              <li><button class="dropdown-item" type="button">
                <%= link_to "記録", entries_path %>
              </button></li>
            </ul>
          </div>
          <li class="nav-item">
            <%= link_to icon('fas','sign-out-alt',"ログアウト"), destroy_customer_session_path, method: :delete ,class: 'btn btn-outline-light mx-3 my-1'%>
          </li>
         <% elsif admin_signed_in? %>
           <li class="nav-item">
             <%= link_to icon('fas','user-circle',"会員一覧"), admin_top_path, class:'btn btn-outline-light mx-3 my-1'%>
           </li>
           <li class="nav-item">
             <%= link_to icon('fas','fa-clipboard-list',"コース"), admin_courses_path, class:'btn btn-outline-light mx-3 my-1'%>
           </li>
           <li class="nav-item">
             <%= link_to icon('fas','fas fa-folder',"カテゴリー"), admin_categories_path, class:'btn btn-outline-light mx-3 my-1'%>
           </li>
           <li class="nav-item">
             <%= link_to icon('fas','sign-out-alt',"ログアウト"),destroy_admin_session_path, method: :delete,class: 'btn btn-outline-light mx-3 my-1'%>
           </li>
         <% else %>
           <li class="nav-item">
             <%= link_to icon('fas','user-plus',"新規登録"), new_customer_registration_path,class: 'btn btn-outline-light mx-3 my-1'%>
           </li>
           <li class="nav-item">
             <%= link_to icon('fas','sign-in-alt',"ログイン"), new_customer_session_path,class: 'btn btn-outline-light mx-3 my-1'%>
           </li>
          <% end %>
        </ul>
      </div>

 </nav>
</header>
