<!DOCTYPE html>
<html>
  <head>
    <title>HealthCare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/edf51c146b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header"%>


    <main style="margin-bottom:80px">
      <div class="container p-3">
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
